@mixin flex($dir: row, $just: flex-start, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
@mixin dotAnim($label, $duration: 3s) {
  $name: anim-#{unique-id()};
  
  animation: $name $duration steps(5, end) infinite;
  
  @keyframes #{$name} {
    0%, 20% {
        content: "#{$label}";
    }
      40% {
        content: "#{$label}.";
    }
      60% {
        content: "#{$label}..";
    }
      80%, 100% {
        content: "#{$label}...";
    }
  }
}

@mixin border ($color: black) {
  border: 0.5rem solid $color;
}
@mixin shadow($dir, $color) {
  @if $dir == right {
    box-shadow: 0.5rem 0.5rem 0 $color;
  } @else {
    box-shadow: -0.5rem 0.5rem 0 $color;
  } 
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "main";
@import "settings";
@import "mobile";
@import "custom-select";
@import "popup";